.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: clamp(2.5rem, 0.214rem + 4.76vw, 4.5rem);
  color: var(--text);
  height: 88px;
}

.header-menu-list {
  display: flex;
}

.header-menu-item {
  height: 100%;
  padding: 35px 24px;
}

.header-menu-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  transition: color 0.6s ease;
}

/* Применяем жирный шрифт к последнему элементу, именно к li и стилизуем его дочерний элемент
т.к. напрямую к <a class=".header-menu-link"> мы применить last-of-type не можем, из-за того, что ссылка в li одна */
.header-menu-item:last-of-type .header-menu-link {
  font-weight: var(--bold);
}

.header-menu-link:hover {
  color: var(--light-grey);
}

.header-button {
  display: none;
  width: 24px;
  aspect-ratio: 1;
  background: transparent;
  border: none;
}

@media (width <= 768px) {
  .header .container {
    font-size: 16px;
    padding-inline: clamp(1.25rem, 0.147rem + 4.9vw, 2.5rem);
  }
  .header-menu-item:last-of-type {
    background-color: var(--primary);
  }
}

@media (width <= 590px) {
  .header .container {
    height: 72px;
  }

  .header-menu {
    display: none;
    opacity: 0;
  }

  .header-button {
    display: flex;
    padding: 6px 3px;
    justify-content: center;
    align-items: center;
  }

  .header.open .container {
    position: fixed;
    background-color: var(--base);
    z-index: 999;
  }

  .header.open + .content .representation {
    padding-block-start: 72px;
    /*Паддинг сверху для секции representation равный высоте header, для того что бы не прилипало к верху при открытии бургер меню*/
  }

  .header.open .header-menu {
    position: fixed;
    display: flex;
    justify-content: center;
    inset: 72px 0 0 0;
    z-index: 999;
    background-color: var(--base);
    animation: menu-appear 0.6s ease forwards; /*forwards - после завершения, анимация останавливается на последнем ключевом кадре*/
  }

  .header.open .header-menu-list {
    flex-direction: column;
    align-items: center;
  }

  .header.open .header-menu-item {
    height: auto;
    padding-block: 25px;
  }

  .header.open .header-menu-item:last-of-type {
    background-color: transparent;
  }

  .header.open .header-menu-item:last-of-type .header-menu-link {
    font-weight: 400;
  }
}

@keyframes menu-appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
