.representation .container {
  position: relative;
  display: flex;
  color: var(--text);
  border-block-end: 1px dashed var(--light-grey);
}

.representation-image {
  padding-block: 82px;
}

.representation-description {
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  max-width: 738px;
  width: clamp(25.5rem, 1.929rem + 49.11vw, 46.125rem);
}

.representation-description-title {
  font-size: clamp(3.5rem, 1.929rem + 3.27vw, 4.875rem);
  font-weight: var(--bold);
  padding-block-end: 32px;
}

.accent-grey {
  color: var(--light-grey);
}

@media (width <= 768px) {
  .representation-description {
    top: 48%;
  }

  .representation-description-title {
    font-size: clamp(2rem, 0.676rem + 5.88vw, 3.5rem);
  }
}

@media (width <= 590px) {
  .representation .container {
    flex-direction: column;
    align-items: center;
  }

  .representation-description {
    position: static;
    transform: translateY(0);
    padding: 48px 20px;
    width: 100%; /*Т.к у блока была фиксированая ширина ранее, на минимуме задаем 100%*/
  }

  .representation-picture {
    height: 288px;
  }

  .representation-image {
    padding: 0;
    width: 360px;
    height: 288px;
    object-fit: cover;
  }
}
