.experience .container {
  display: flex;
  flex-direction: column;
  padding: 120px 72px;
  color: var(--text);
}

.experience .section-heading {
  padding-block-end: 40px;
  max-width: 690px;
}

.experience-description {
  display: flex;
  column-gap: 78px;
}

.experience .card-title {
  padding-block-end: 22px;
}

.description-item-number {
  font-size: 117px;
  color: var(--light-grey);
  line-height: 1.2;
}

.accent-green {
  color: var(--green-accent);
}

.accent-blue {
  color: var(--primary);
}

.accent-pink {
  color: var(--pink-accent);
}

@media (width <= 768px) {
  .experience .container {
    padding: 80px 8.5vw 80px 40px;
  }

  .experience .section-heading {
    font-size: clamp(2rem, 0.732rem + 5.64vw, 3.438rem);
  }

  .experience .card-title {
    padding-block-end: 24px;
  }
}

@media (width <= 590px) {
  .experience .container {
    padding: 48px 20px;
  }

  .experience-description {
    flex-wrap: wrap;
    row-gap: 48px;
  }

  .experience .card-title {
    padding-block-end: 16px;
  }
}
