.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: clamp(2.5rem, 0.214rem + 4.76vw, 4.5rem);
  color: var(--text);
  height: 88px
}

.header-menu-list {
  display: flex;
}

.header-menu-item {
  height: 100%;
  padding: 35px 24px;
}

.header-menu-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  transition: color 1s ease;
}

/* Применяем жирный шрифт к последнему элементу, именно к li и стилизуем его дочерний элемент
т.к. напрямую к <a class=".header-menu-link"> мы применить last-of-type не можем, из-за того, что ссылка в li одна */
.header-menu-item:last-of-type .header-menu-link {
  font-weight: var(--bold);
}

.header-menu-link:hover {
  color: #3de7fd;
}

.header-button {
  display: none;
  width: 24px;
  aspect-ratio: 1;
  background: transparent;
  border: none;
}

@media (width <= 768px) {
  .header {
    font-size: 16px;
    padding-inline: clamp(1.25rem, 0.147rem + 4.9vw, 2.5rem);
  }
  .header-menu-item:last-of-type {
    background-color: var(--primary);
  }
}

@media (width <= 590px) {
  .header {
    height: 72px
  }

  .header-menu {
    display: none;
  }
  .header-button {
    display: block;
  }
}
