.image-section .container {
  display: flex;
}

.image-section .container picture {
  flex: 1;
}
.image-section-info .section-heading {
  padding-block-end: 24px;
}

.image-section .section-description {
  padding-block-end: 145px;
  color: var(--dark-grey);
}

.image-section-info {
  flex: 1;
  background-color: var(--peach-accent);
  padding: 120px 72px;
  color: var(--level1);
}

.section-link {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
}

.link-block {
  position: relative;
  display: inline-block;
}

.image-section-pictupe {
  display: block;
  width: 100%;
  height: 100%;
}

/* .section-link::after {
  content: "";
  position: absolute;
  height: 1px;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  background-color: var(--light-grey);
  cursor: default;
  pointer-events: none;
} */

@media (width <= 768px) {
  .image-section-info {
    padding: 80px 40px;
  }

  .section-heading {
    font-size: clamp(2rem, 0.732rem + 5.64vw, 3.438rem);
  }

  .image-section .section-description {
    padding-block-end: 67px;
  }
}

@media (width <= 590px) {
  .image-section .container {
    flex-direction: column;
  }

  .image-section-info {
    padding: 48px 20px;
  }

  .image-section .section-description {
    padding-block-end: 95px;
  }
}
