body {
  font-family: var(--font-family-base, sans-serif);
  background-color: var(--base, #000);
  color: var(--light-grey, #DEECF9);
  font-size: 18px;
  line-height: 1.5;
}

.container {
  max-width: 1440px;
}

h1,h2,h3,h4, h5 {
  font-weight: bold;
}


.header::after,
.representation::after {
  content: '';
  left: 540px;
  right: 0px;
  top: 0;
  bottom: 0;
  background-color: var(--level1);
  position: absolute;
  z-index: -1;
}